
body, html {
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14pt;
    background: #DDDDDD;
    padding: 5.6em 2em 4.8em 0;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.side-box {
    display: block;
    font-size: 0.6em;
    padding: 1em 2em 1em 1.5em;
    color: black;
    text-shadow: 1px 1px 0 white;
    font-weight: bolder;
    border-left: 2px solid;
}

.hidden { display: none; }

#side-box {
    float: left;
    position: relative;
    top: -4.6em;
    margin-right: 1.5em;
    min-height: 100%;
}

#search-box {
    overflow: hidden;
    position: relative;
    top: -4.6em;
    margin-bottom: -3.6em;
}

#lyrics-box {
    background: white;
    background-position: center center;
    position: relative;
    overflow: hidden;
    z-index: 2;
    min-height: 100%;

    transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
}

#lyrics-box #message {
    display: none;
}

#lyrics-box #lyrics-text {
    display: block;
}

#lyrics-box.nothing {
    background: silver no-repeat center center;
    color: black;
    border-radius: 1em;
    text-shadow: 1px 1px 0 white;
    height: 100%;
}

#lyrics-box.nothing sub {
    vertical-align: sub;
    font-size: small;
    margin-left: -0.7em;
}

#lyrics-box.nothing #lyrics {
    display: table;
    height: 100%;
    width: 100%;
    padding: 0;
    font-size: 2em;
    text-align: center;
    opacity: 1;
}

#lyrics-box.nothing #message {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

#lyrics-box.nothing #lyrics-text {
    display: none;
}

#lyrics-box.loading {
    height: 100%;
    background: silver url('../images/spinner-large.gif') no-repeat center center;
}

#lyrics-box.loading #lyrics {
    opacity: 0;
}

#footer-box {
    position: relative;
    padding: 1em 0;
}

