* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12pt;
	background: #eee;
}

#base {
	width: 750px;
	margin: 0 auto;
	min-height: 100%;
	text-align: center;
	position: relative;
	padding-top: 1em;
	padding-bottom: 3em;
}

button, input {
	font-size: inherit;
	font-family: inherit;
}

header {
	margin: 1em auto;
}

#logo {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bolder;
	letter-spacing: 0px;
	font-size: 2.5em;
}

#motto {
	font-style: oblique;
	font-size: 0.8em;
	margin-top: 0.5em;
	opacity: 0.5;
}

#main {
	margin: 1em auto;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 0.8em;
	color: #999;
	padding: 1em 0;
}