
body, html {
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14pt;
    background: #DDDDDD;
    padding-top: 6.4em; /* height of the search thingie */
    padding-bottom: 3.8em; /* height of the footer */
    padding-right: 2em; /* for kicks */
    padding-left: 0;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.side-box {
    display: block;
    font-size: 0.6em;
    padding: 1em 2em 1em 1.5em;
    color: black;
    text-shadow: 1px 1px 0 white;
    font-weight: bolder;
    border-left: 2px solid;
}

.hidden { display: none; }


/* Main layout */

#big-bad-box {
    position: relative;
    display: table;
    vertical-align: top;
    height: 100%;
    width: 100%;
}

#side-box {
    display: table-cell;
    vertical-align: top;
    height: 100%;
}

#logo {
    position: relative;
    top: -3.2em;
}

#content-box {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    height: 100%;
}

#footer-box {
    padding: 1em 0;
}


/* Content layout */

#search-box {
    padding: 0 0 1em 0;
    margin-top: -5.4em;
}

#main-box {
    position: relative;
    display: table;
    table-layout: fixed;
    vertical-align: top;
    width: 100%;
    height: 100%;
}

#lyrics-box {
    position: relative;
    display: table-cell;
    vertical-align: top;
    height: 100%;
    overflow: hidden;
}

#lyrics-inner-box {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

#sidebar-box {
    display: table-cell;
    vertical-align: top;
    width: 27.5%;
    height: 100%;
}

