
#last-fm {
    width: 500px;
    margin: 1em auto;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
    font-size: 0.7em;
    position: relative;

    transition: margin 0.2s;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -ms-transition: margin 0.2s;
    -o-transition: margin 0.2s;
}

body.index #last-fm {
    margin-top: 3em;
    margin-bottom: 3em;
}

#last-fm-header {
    overflow: hidden;
    z-index: 50;
    position: relative;
}

.last-fm-button {
    background: #cc0000;
    border: 0;
    color: white;
    padding: 0.5em 1em;
    margin: 0;
    cursor: pointer;
    height: 2em;
    line-height: 1em;
    vertical-align: top;
}

.last-fm-button:hover {
    background: #dd0000;
}

.last-fm-button.active {
    background: #aa0000;
    cursor: default;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
}


/* Prompt */

#connect-last-fm.active {
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
}

#last-fm-connection-prompt {
    overflow: hidden;
    height: 0;

    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

#last-fm-connection-prompt.active {
    height: 3em
}

#last-fm-connection-box {
    padding: 0.5em;
    background: #ddd;
    display: inline-block;
    text-align: left;
}

#last-fm-username-prompt {
	border: 1px solid #AAA;
    padding: 0 1em;
    margin: 0;
    height: 2em;
    vertical-align: top;
    width: 20em;
}


/* Logged-in */

#last-fm-username-box {
    overflow: hidden;
}

#last-fm-username-link {
    display: block;
    text-align: left;
    padding-left: 50px;
    background-image: url('../images/last.fm.png');
    background-repeat: no-repeat;
    background-position: 1em center;
}

#last-fm-controls {
    float: right;
}

#last-fm-controls .last-fm-button {
    margin-left: 5px;
}

#last-fm-tracks-container {
    position: relative;
    z-index: 10;
    margin-top: -1px;
}

#last-fm-tracks {
    text-align: left;
    line-height: 2em;
    min-height: 2em;
    border: 1px solid #bbb;
    overflow: hidden;
    height: auto;

    transition: height 0.2s;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
}

#last-fm.collapsed #last-fm-tracks {
    height: 2em;
}

#last-fm-tracks li {
    border-top: 1px solid #eee;
    background: white;
}

#last-fm-tracks li:first-child {
    border-top: none;
}

#last-fm-tracks a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 0 1em;
}

#last-fm-tracks li:hover {
    background: #fffae6;
}

#last-fm-tracks .time {
    float: right;
    font-size: 0.9em;
    color: #999;
    font-style: italic;
    pointer-events: none;
    margin-right: 1em;
}
