
/* Logo */

#logo {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0;
    font-size: 1.6em;
    color: white;
    text-shadow: 1px 1px 0 black;
    letter-spacing: -0.13em;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#logo:hover {
    color: #FFC125;
}


/* Search */

#id_query {
    margin: 0;
    font-size: 2em;
    padding: 0.1em;
    border: 0.1em inset #EEE;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    background: white;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#id_query::-webkit-input-placeholder { color: #CCC; }
#id_query:-moz-placeholder { color: #CCC; }

#lastfm-control {
    float: left;
    font-size: 0.6em;
    padding: 0 1em 0 4.5em;
    background: #DD1303 url('../images/last.fm.png') no-repeat 1em 0.6em;
    border-top: 0.2em solid #B20200;
    height: 2.1em;
    line-height: 2.1em;
    white-space: nowrap;
    color: white;
}

#lastfm-control.idle {
    border-top-color: #803933;
    background-color: #B35047;
}

a#lastfm-control {
    border-top-color: #803933;
    background-color: #B35047;
    text-shadow: 0 1px 0 #870802;
    font-weight: bolder;
}

a#lastfm-control:hover {
    border-top-color: #B20200;
    background-color: #DD1303;
}

#lastfm-control a {
    color: white;
    text-decoration: underline;
    font-weight: bolder;
}

/* Sidebar */

#sidebar {
    float: right;
    position: relative;
    z-index: 1;
    font-size: 0.7em;
    width: 27.5%;
    background-position: center center;

    transition: 0.1s;
    -o-transition: 0.1s;
    -ms-transition: 0.1s;
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s;
}

#sidebar.hidden {
    display: block;
    width: 0;
    overflow: hidden;
    opacity: 0;
}

#sidebar.loading {
    background: silver url('../images/spinner-large.gif') no-repeat center 200px;
}

#sidebar.loading #artist,
#sidebar.loading #album,
#sidebar.loading #tracklist {
    display: block;
    right: 100%;
}

#artist,
#album,
#tracklist {
    transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
}

#artist.hidden,
#album.hidden,
#tracklist.hidden {
    display: block;
    right: 100%;
}

#artist {
    position: relative;
    float: left;
    padding: 0.4em 1.5em 0.4em 0.35em;
    margin-bottom: 0.1em;
    background: #CD5555;
    border-left: 2px solid #8B3A3A;
    color: white;
    font-size: 2.0em;
    font-weight: bolder;
    letter-spacing: -1px;
    text-shadow: -1px 0 1px black;
}

#album {
    position: relative;
    float: left;
    clear: left;
    padding: 0.5em 1.5em 0.5em 0.85em;
    margin-bottom: 0.4em;
    background: #CD5555;
    border-left: 2px solid #8B3A3A;
    color: white;
    text-shadow: -1px 0 1px black;
}

#tracklist {
    position: relative;
    list-style-type: none;
    counter-reset: position;
}

#tracklist li {
    clear: left;
    float: left;
    margin-bottom: 0.15em;
    counter-increment: position;
}

#tracklist li a {
    display: block;
    display: block;
    color: white;
    padding: 0.5em 1.5em 0.5em 0.5em;
    background: #444 no-repeat right center;
    cursor: pointer;
    text-decoration: none;

    transition: 0.1s;
    -o-transition: 0.1s;
    -ms-transition: 0.1s;
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s;
}

#tracklist li a .title {
    text-decoration: underline;
}

#tracklist li a:before {
    content: counter(position) '. ';
}

#tracklist li a:hover {
    padding-right: 3em;
    margin-right: -1.5em;
}

#tracklist li.active a {
    background: white;
    color: black;
    border-right: 2px solid #444;
    cursor: default;
}

#tracklist li.active a .title {
    text-decoration: none;
}

#tracklist li.active a:hover { padding-right: 1.5em; margin-right: 0; }


/* Lyrics */

#lyrics {
    position: relative;
    z-index: 2;
    padding: 2em 1em;
    font-family: Droid Serif, Georgia, Times New Roman, serif;
    line-height: 1.5;
    font-size: 13.5pt;

    transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
}

#lyrics-background {
    position: absolute;
    right: -5%;
    top: -2em;
    width: 70%;
    opacity: 0.1;
    z-index: 1;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
}

#lyrics-background img {
    width: 100%;
    height: auto;
    vertical-align: top;

    transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
}

#lyrics p {
    margin: 1em 0 0;
    padding-left: 1em;
    border-left: 0.2em solid #eee;
}

#lyrics p:first-child { margin-top: 0; }


/* Suggestions */

.suggestions ul {
    background: white;
    border-bottom: 5px solid gray;
}

.suggestions li {
    padding: 3px 6px;
    cursor: pointer;
}

.suggestions li:first-child { padding-top: 6px; }
.suggestions li:last-child { padding-bottom: 6px; }

.suggestions li.selected {
    background: #FFC125;
}

.suggestions img {
    width: 42px;
    height: 42px;
    margin-right: 6px;
    vertical-align: middle;
}

.suggestions .label {
    display: inline-block;
    vertical-align: middle;
}

.suggestions .artist {
    margin-top: 2px;
    color: #777;
    font-size: 70%;
}


/* Copyright */

#copyright {
    background: silver;
    border-color: gray;
    color: gray;
    display: inline-block;
}

