<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta http-equiv="content-style-type" content="text/css"/>
        <meta name="last-fm-api-key" content="{{ LASTFM_API_KEY }}">

        <title>{% block title %}Lyrics{% endblock %}</title>

        <link rel="stylesheet" type="text/css" media="all" href="/css/reset.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="/css/base.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="/css/style.css"/>
        {% block styles %}{% endblock %}

        <script type="text/javascript" src="/js/jquery-1.5.1.min.js"></script>
        <script type="text/javascript" src="/js/jquery.cookie.js"></script>
        <script type="text/javascript" src="/js/jquery.suggester.js"></script>

        <script type="text/javascript" src="/js/underscore-min.js"></script>
        <script type="text/javascript" src="/js/backbone.js"></script>

        <script type="text/javascript" src="/js/lastfm.api.js"></script>
        <script type="text/javascript" src="/js/lastfm.api.md5.js"></script>
        <script type="text/javascript" src="/js/lastfm.api.cache.js"></script>

        <script type="text/javascript" src="/js/lrcs/tools.js"></script>
        <script type="text/javascript" src="/js/lrcs/lastfm.js"></script>
        <script type="text/javascript" src="/js/lrcs/models.js"></script>
        <script type="text/javascript" src="/js/lrcs/views.js"></script>
        <script type="text/javascript" src="/js/lrcs/app.js"></script>
        {% block scripts %}{% endblock %}
        {% if GOOGLE_ANALYTICS_TRACKING_ID %}
            {% include 'includes/google_analitycs.jinja2' %}
        {% endif %}
    </head>
    <body>
        <div id="big-bad-box">
            <div id="side-box">
                <a href="/" id="logo">lyri.sk</a>
            </div>
            <div id="content-box">
            {% block content %}{% endblock %}
            </div>
        </div>
        <div id="footer-box">
            <div class="side-box" id="copyright">
                &copy;. all our lyrics are belong to their respective authors.
            </div>
        </div>
    </body>
</html>
