<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
        <meta http-equiv="content-style-type" content="text/css"/>

        <link href="/images/apple-touch-icon-xlarge.png" rel="apple-touch-icon-precomposed" sizes="144x144" type="image/png"/>
        <link href="/images/apple-touch-icon-large.png" rel="apple-touch-icon-precomposed" sizes="114x114" type="image/png"/>
        <link href="/images/apple-touch-icon-medium.png" rel="apple-touch-icon-precomposed" sizes="72x72" type="image/png"/>
        <link href="/images/apple-touch-icon-small.png" rel="apple-touch-icon-precomposed" type="image/png"/>
        <link href="/images/apple-touch-icon-small.png" rel="shortcut icon"/>
        <link href="/images/favicon.png" rel="shortcut icon" type="image/png"/>
        <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

        <meta name="last-fm-api-key" content="{{ LASTFM_API_KEY }}"/>

        <title>Lyri.sk</title>

        <link rel="stylesheet" type="text/css" media="all" href="/css/reset.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="/css/base.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="/css/animations.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="/css/search.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="/css/last.fm.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="/css/lyrics.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="/css/album.css"/>

        <script type="text/x-js-template" id="search-template">{% include 'js/search.jstmpl' %}</script>
        <script type="text/x-js-template" id="search-result-template">{% include 'js/search-result.jstmpl' %}</script>
        <script type="text/x-js-template" id="last-fm-login-template">{% include 'js/last-fm-login.jstmpl' %}</script>
        <script type="text/x-js-template" id="last-fm-connected-template">{% include 'js/last-fm-connected.jstmpl' %}</script>
        <script type="text/x-js-template" id="last-fm-track-template">{% include 'js/last-fm-track.jstmpl' %}</script>
        <script type="text/x-js-template" id="album-template">{% include 'js/album.jstmpl' %}</script>
        <script type="text/x-js-template" id="album-track-template">{% include 'js/album-track.jstmpl' %}</script>
        <script type="text/x-js-template" id="lyrics-template">{% include 'js/lyrics.jstmpl' %}</script>
        <script type="text/x-js-template" id="lyrics-not-found-template">{% include 'js/lyrics-not-found.jstmpl' %}</script>

        <script data-main="/js/main.js" type="text/javascript" src="/js/require.js"></script>

        {% if GOOGLE_ANALYTICS_TRACKING_ID %}
            {% include 'includes/google_analitycs.jinja2' %}
        {% endif %}
        {% include 'includes/yandex_metrika.jinja2' %}

    </head>
    <body>
        <div id="base">

            <header>
                <div id="logo"><a href="/">lyri.sk</a></div>
                <p id="motto">your favorite <a href="http://www.last.fm/" target="_blank">last.fm</a>-enabled lyrics search engine</p>
            </header>

            <div id="content">

            </div>

            <footer>
                &copy; lyri.sk
            </footer>

        </div>
    </body>
</html>
