{% extends 'base.jinja2' %}

{% block scripts %}
    <script type="text/template" id="lastfm-watching-template">
        <div id="lastfm-control" class="active">
            @<%= username %>
            |
            <a href="#" id="lastfm-stop-watching">stop watching</a>
            |
            <a href="#" id="lastfm-disconnect">disconnect</a>
        </div>
    </script>

    <script type="text/template" id="lastfm-idle-template">
        <div id="lastfm-control" class="idle">
            @<%= username %>
            |
            <a href="#" id="lastfm-start-watching">start watching</a>
            |
            <a href="#" id="lastfm-disconnect">disconnect</a>
        </div>
    </script>

    <script type="text/template" id="lastfm-disconnected-template">
        <a href="#" id="lastfm-control">connect</a>
    </script>

    <script type="text/template" id="sidebar-template">
        <div id="artist"<% if (!artist) { print('class="hidden"'); } %>>
        <%= artist %>
        </div>
        <div id="album"<% if (!album) { print('class="hidden"'); } %>>
        <%= album %>
        </div>
        <ol id="tracklist">
            <% _.each(tracks, function(track){ %>
            <li<% if (track.current) print(' class="active"'); %>>
                <a href="#" data-cid="<%= track.cid %>"><span class="title"><%= track.attributes.title %></span></a>
            </li>
            <% }); %>
        </ol>
    </script>

    <script type="text/template" id="autocomplete-item-template">
        <li>
            <img alt="<%= artist %> - <% title %>" src="<% if (image) { %><%= image %><% } else { %>http://cdn.last.fm/flatness/catalogue/noimage/2/default_artist_small.png<% } %>"/>
            <div class="label">
                <div class="title"><%= title %></div>
                <div class="artist"><%= artist %></div>
            </div>
        </li>
    </script>

{% endblock %}


{% block content %}

<form method="get" action="/api/search/" id="search-box">
    <div>
        <input id="id_query" placeholder="Type in the name of a song or an artist"/>
    </div>
    <div id="lastfm-control-box"></div>
</form>

<div id="sidebar"></div>

<div id="lyrics-box" class="nothing">
    <div id="lyrics">
        <div id="message-box">
            <div id="message">
                Nothing to see here <sub>yet.</sub>
            </div>
        </div>
        <div id="lyrics-text"></div>
    </div>
    <div id="lyrics-background"><img src="" alt="" id="lyrics-background-art"/></div>
</div>
{% endblock %}

